

.headingIITM {
    font-family: 'PT Serif'
}

.subHeadingIITM {
    font-family: 'PT Serif'
}

.imageContainer {
    background-image: url('../../assets/Thumbnail_8.png');
    opacity: 0.5;
    height: 60vh;
}